# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
src/generated/resources/.cache/cache
*.ase
*.bbmodel
src/main/resources/assets/biomesoplenty
src/main/resources/assets/twilightforest
src/main/resources/assets/druidcraft
TODO.txt
HNC-TODO.txt
